.a-auth-form {
  width: 420px;
}

.field-group {
  margin: 1rem 0;
  width: 100%;

  label,
  input,
  span {
    display: block;
    width: 100%;
  }

  input {
    margin: 0.4rem 0;
    height: 32px;
    padding: 0 8px;
  }

  label {
    font-size: 14px;
    color: #444;
  }

  span {
    font-size: 12px;
    color: #e14444;
    font-style: italic;
  }
}
