.a-page-state {
  width: 420px;
  padding-bottom: 4em;
  text-align: center;

  .a-sad-face {
    font-size: 4em;
    color: #ccc;
  }

  .a-sad-heading {
    margin: 1.4rem 0;
    font-weight: 300;
    color: #444;
  }

  .a-sad-link {
    font-size: 1.8em;
  }
}
