@import "theme/default.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #363636;
}

p {
  margin: 1rem 0;
  font-size: 14px;
}
